<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Blog</title>
</head>
<body>

<main>
    <h1>블로그 수정</h1>
    <form method="post" th:action="@{|/api/blogs/${blogId}/edit|}" th:object="${blog}">
        <div>
            <label for="title">블로그 제목:</label>
            <input type="text" id="title" name="title" th:field="*{title}">
        </div>
        <div>
            <button type="submit">저장</button>
        </div>
    </form>
</main>
</body>
</html>
