<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 작성</title>
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/post/post-create.css}">
</head>
<body>

<main class="main-container" data-blog-id="[[${blogId}]]">
    <h1>새 게시글 작성</h1>
    <form id="post-form" th:action="@{/api/blogs/{blogId}/create(blogId=${blogId})}" method="post" th:object="${post}" class="form-container">
        <div class="form-group">
            <label for="title">제목:</label>
            <input type="text" id="title" name="title" required th:field="*{title}" class="form-control">
        </div>
        <div class="form-group">
            <div id="editor"></div>
        </div>
        <div class="form-group">
            <label for="tags">태그:</label>
            <input type="text" id="tags" name="tags" class="tag-input form-control" placeholder="#태그1 #태그2" th:field="*{tags}">
        </div>
        <div class="form-group">
            <label for="series">시리즈:</label>
            <select id="series" name="series" class="form-control">
                <!-- 시리즈 목록이 여기에 동적으로 추가됩니다. -->
            </select>
        </div>
        <div class="form-group button-group">
            <button type="submit" id="submit-button" class="btn">작성</button>
            <button type="button" id="temporal-button" class="btn">임시저장</button>
        </div>
    </form>
    <a th:href="@{/api/blogs/{blogId}(blogId=${blogId})}" class="back-link">목록으로 돌아가기</a>
</main>

<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
<script th:inline="javascript">
    document.addEventListener("DOMContentLoaded", function() {
        const blogId = /*[[${blogId}]]*/ 'defaultBlogId';
        const postForm = document.getElementById('post-form');

        const editor = new toastui.Editor({
            el: document.querySelector('#editor'),
            height: '500px',
            initialEditType: 'markdown',
            initialValue: '',
            previewStyle: 'vertical',
            hooks: {
                addImageBlobHook: async (blob, callback) => {
                    const formData = new FormData();
                    formData.append('file', blob);

                    try {
                        const response = await fetch('/api/blogs/' + blogId + '/uploadImage', {
                            method: 'POST',
                            body: formData
                        });

                        if (response.ok) {
                            const data = await response.json();
                            callback(data.url, 'alt text');
                        } else {
                            const text = await response.text();
                            alert('이미지 업로드 실패: ' + text);
                        }
                    } catch (error) {
                        alert('이미지 업로드 중 오류 발생: ' + error.message);
                    }
                }
            }
        });

        function loadSeries() {
            fetch(`/api/blogs/${blogId}/edit/series`)
                .then(response => response.json())
                .then(series => {
                    const seriesSelect = document.getElementById('series');
                    seriesSelect.innerHTML = '<option value="">시리즈 선택</option>';
                    series.forEach(s => {
                        const option = document.createElement('option');
                        option.value = s.id;
                        option.textContent = s.seriesName;
                        seriesSelect.appendChild(option);
                    });
                })
                .catch(error => console.error('Error:', error));
        }

        document.getElementById('temporal-button').addEventListener('click', function() {
            const temporalInput = document.createElement('input');
            temporalInput.type = 'hidden';
            temporalInput.name = 'temporal';
            temporalInput.value = 'true';
            postForm.appendChild(temporalInput);
            const contentInput = document.createElement('input');
            contentInput.type = 'hidden';
            contentInput.name = 'content';
            contentInput.value = editor.getMarkdown();
            postForm.appendChild(contentInput);
            postForm.submit();
        });

        loadSeries();

        document.getElementById('post-form').addEventListener('submit', function(event) {
            const contentInput = document.createElement('input');
            contentInput.type = 'hidden';
            contentInput.name = 'content';
            contentInput.value = editor.getMarkdown();
            postForm.appendChild(contentInput);
        });
    });
</script>
<script th:inline="javascript">
    document.addEventListener("DOMContentLoaded", function() {
        /*<![CDATA[*/
        const error = /*[[${error}]]*/ 'null';
        if (error !== null) {
            alert(error);
        }
        /*]]>*/
    });
</script>

</body>
</html>
