<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile Edit</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/user/profile-edit.css}">
</head>
<body>
<main>
    <div class="container">
        <h1>프로필 수정</h1>
        <form th:action="@{/api/profile/{loginId}(loginId=${userDto.loginId})}" method="post" th:object="${userDto}" enctype="multipart/form-data">
            <div class="form-group">
                <label for="profileImage">프로필 이미지:</label>
                <div>
                    <img th:if="${userDto.profileImageUrl != null}" th:src="@{${userDto.profileImageUrl}}"
                         class="profile-image-preview"
                         id="profileImagePreviewIf"/>
                    <img th:unless="${userDto.profileImageUrl != null}" th:src="@{/images/profiles/default-profile.png}"
                         class="profile-image-preview"
                         id="profileImagePreviewUnless"/>
                </div>
                <input type="file" id="profileImage" name="profileImage" accept="image/*" onchange="previewProfileImage(event)" class="file-input">
                <label for="profileImage" class="custom-file-button">파일 선택</label>
            </div>
            <div class="form-group">
                <label for="loginId">로그인 아이디:</label>
                <input type="text" id="loginId" name="loginId" th:field="*{loginId}" required>
            </div>
            <div class="form-group">
                <label for="email">이메일:</label>
                <input type="email" id="email" name="email" th:field="*{email}" required>
            </div>
            <div class="form-group">
                <label for="name">이름:</label>
                <input type="text" id="name" name="name" th:field="*{name}" required>
            </div>
            <div class="form-group toggle-group">
                <label for="receiveEmail" class="toggle-label">이메일 수신 여부:</label>
                <div class="toggle-button" th:classappend="${userDto.receiveEmail} ? 'on' : ''" onclick="toggle(this, 'receiveEmail')"></div>
                <input type="checkbox" class="hidden-checkbox" id="receiveEmail" name="receiveEmail" th:field="*{receiveEmail}">
            </div>
            <div class="form-group toggle-group">
                <label for="commentNotification" class="toggle-label">댓글 알람 여부:</label>
                <div class="toggle-button" th:classappend="${userDto.commentNotification} ? 'on' : ''" onclick="toggle(this, 'commentNotification')"></div>
                <input type="checkbox" class="hidden-checkbox" id="commentNotification" name="commentNotification" th:field="*{commentNotification}">
            </div>
            <div class="form-group">
                <button type="submit" class="submit-button">수정</button>
            </div>
        </form>
        <form th:action="@{/api/profile/{loginId}/deleteProfileImage(loginId=${userDto.loginId})}" method="post">
            <button type="submit" class="delete-button">프로필 이미지 삭제</button>
        </form>
        <!-- 회원탈퇴 버튼 -->
        <br>
        <div>
            <button class="delete-button" id="delete-user-button">회원탈퇴</button>
        </div>
    </div>
</main>

<script th:inline="javascript">
    document.addEventListener("DOMContentLoaded", function() {
        document.getElementById('delete-user-button').addEventListener('click', function() {
            const password = prompt("비밀번호를 입력하세요:");
            if (password !== null) {
                const loginId = /*[[${userDto.loginId}]]*/ 'defaultLoginId';

                fetch(`/api/profile/${loginId}/deleteUser`, {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(password)
                })
                    .then(response => response.text().then(message => ({ message, ok: response.ok })))
                    .then(({ message, ok }) => {
                        alert(message);
                        if (ok && message === '회원탈퇴가 완료됐습니다.') {
                            window.location.href = '/api/logout';
                        }
                    })
                    .catch(error => console.error('Error:', error));
            }
        });
    });

    function toggle(element, fieldName) {
        element.classList.toggle('on');
        const checkbox = document.getElementById(fieldName);
        checkbox.checked = !checkbox.checked;
    }

    function previewProfileImage(event) {
        const reader = new FileReader();
        reader.onload = function(){
            const ifOutput = document.getElementById('profileImagePreviewIf');
            const unlessOutput = document.getElementById('profileImagePreviewUnless');
            if (ifOutput) {
                ifOutput.src = reader.result;
            }
            if (unlessOutput) {
                unlessOutput.src = reader.result;
            }
        };
        reader.readAsDataURL(event.target.files[0]);
    }
</script>
<script th:inline="javascript">
    document.addEventListener("DOMContentLoaded", function() {
        /*<![CDATA[*/
        const message = /*[[${message}]]*/ 'null';
        if (message !== null) {
            alert(message);
        }
        /*]]>*/
    });
</script>
</body>
</html>
