<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
</head>
<body>
<h1>로그인 페이지</h1>
<form action="/api/login" method="post">
    <label for="loginId">아이디:</label>
    <input type="text" id="loginId" name="loginId" required><br><br>
    <label for="password">비밀번호:</label>
    <input type="password" id="password" name="password" required><br><br>
    <button type="submit">로그인</button>

    <a th:href="@{/api/signup}">회원가입</a>

</form>
<script th:inline="javascript">
    document.addEventListener("DOMContentLoaded", function () {
        const errorMessage = /*[[${error}]]*/ 'null';
        const message = /*[[${message}]]*/ 'null';
        if (errorMessage !== null) {
            alert("아이디나 비밀번호가 일치하지 않습니다.");
        }
        if (message !== null) {
            alert("로그인후 이용 가능합니다.");
        }
    });
</script>
</body>
</html>
