<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Signup Form</title>
</head>
<body>
    <h2>회원가입</h2>
    <form method="post" th:action="@{/api/signup}" th:object="${user}">
        <div>
            <label for="loginId">아이디:</label>
            <input type="text" id="loginId" name="loginId" th:field="*{loginId}">
        </div>
        <div>
            <label for="name">이름:</label>
            <input type="text" id="name" name="name" th:field="*{name}">
        </div>
        <div>
            <label for="email">이메일:</label>
            <input type="email" id="email" name="email" th:field="*{email}">
        </div>
        <div>
            <label for="password">암호:</label>
            <input type="password" id="password" name="password" th:field="*{password}">
        </div>
        <div>
            <label for="role">역할:</label>
            <select id="role" name="role" th:field="*{role}">
                <option value="ROLE_USER">사용자</option>
                <option value="ROLE_ADMIN">관리자</option>
            </select>
        </div>
        <div>
            <button type="submit">회원가입</button>
        </div>
    </form>
</body>
</html>
