<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>플랫폼 이름</title>
</head>
<body>
<header>
    <nav>
        <h2>플랫폼 이름</h2>
        <div th:if="${#authorization.expression('isAuthenticated()')}">
            <p th:text="'환영합니다, ' + ${#authentication.name}"></p>
            <a th:href="@{/api/logout}">로그아웃</a>
        </div>
        <div th:unless="${#authorization.expression('isAuthenticated()')}">
            <a th:href="@{/api/login}">로그인</a>
        </div>
    </nav>
</header>
<main>
    <h1>아직 미개발</h1>
</main>
</body>
</html>
