<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>팔로워 목록</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/follow/follower-list.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/fragment/login.css}">
</head>
<body>
<header th:replace="fragments/login :: navbar"></header>
<main class="main-container" data-blog-id="[[${blogId}]]">
    <h1>팔로워 목록</h1>
    <div class="follower-list-container">
    <ul id="follower-list" class="follower-list">
        <!-- 팔로워 목록이 여기에 동적으로 추가됩니다. -->
    </ul>
    </div>
</main>

<script th:inline="javascript">
    $(document).ready(function() {
        const blogId = /*[[${blogId}]]*/ 'defaultBlogId'; // Thymeleaf가 여기를 JavaScript로 변환

        function loadFollowers() {
            $.ajax({
                type: 'GET',
                url: `/api/blogs/${blogId}/follower/List`,
                dataType: 'json',
                success: function(followers) {
                    console.log(followers); // 서버 응답 데이터를 확인합니다.
                    const followerList = $('#follower-list');
                    followerList.empty();
                    followers.forEach(function(follower) {
                        console.log(follower.loginId, follower.imageUrl); // 각각의 팔로워 데이터를 확인합니다.
                        const listItem = $('<li></li>').addClass('follower-item');
                        const followerInfo = `
                            <div class="follower-info">
                                <img src="${follower.profileImageUrl || '/images/profiles/default-profile.png'}" alt="${follower.loginId}" class="follower-image">
                                <a href="/api/blogs/${blogId}/user/${follower.loginId}" class="follower-loginId">${follower.loginId}</a>
                            </div>
                        `;
                        listItem.append(followerInfo);
                        followerList.append(listItem);
                    });
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    console.error('팔로워 목록 로드 중 오류 발생:', textStatus, errorThrown);
                }
            });
        }

        loadFollowers();
    });
</script>

<script th:inline="javascript">
    document.addEventListener("DOMContentLoaded", function() {
        /*<![CDATA[*/
        const error = /*[[${error}]]*/ 'null';
        if (error !== null) {
            alert(error);
        }
        /*]]>*/
    });
</script>
</body>
</html>
